<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8qPgVe6EJ2hdsp-FTVBVbP3oOQOK47xs</string>
	<key>GCM_SENDER_ID</key>
	<string>507681862980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.divine.astrologer</string>
	<key>PROJECT_ID</key>
	<string>divine-live-f7f79</string>
	<key>STORAGE_BUCKET</key>
	<string>divine-live-f7f79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507681862980:ios:3bdbdc4fdc0ae7eae51311</string>
	<key>DATABASE_URL</key>
	<string>https://divine-live-f7f79-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>